*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
.body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(248, 217, 81);
}

.card-container{
    margin-top: 50px;
    overflow: hidden;
    box-shadow: 10px 10px 15px;
background-color: white;
   width: 350px;
   border-radius: 5%;
   box-shadow: black 1%,2%,3%,4% ;
   border: 2px solid black;
}
img{
        border-radius: 5%;
    padding: 5px;
}
button{
    padding: 5px;
    margin-bottom: 8px;
    border: none;
    border-radius: 10px;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(248, 217, 81) ;
}
.card-content{
    padding: 16px;
}
.title{
   
    margin-bottom: 8px;
}
.date{
    margin-bottom: 12px;
}
.para{
    color: gray;
    font-size: 1.5rem;
}